@use '../../../../scss/mixins/media-breakpoints';

.grid-container {
  --_template-columns: 1fr;
  --_template-rows: 120px 1fr 120px 80px;
  --_template-areas: 'header' 'main' 'footer' 'nav';

  height: 100dvh;

  @include media-breakpoints.tablet {
    --_template-columns: 80px 1fr;
    --_template-rows: 100px 1fr 100px;
    --_template-areas: 'nav header' 'nav main' 'nav footer';
  }

  @include media-breakpoints.desktop {
    --_template-columns: 360px 1fr;
  }

  display: grid;
  grid-template-columns: var(--_template-columns);
  grid-template-rows: var(--_template-rows);
  grid-template-areas: var(--_template-areas);
}

.header {
  grid-area: header;
  background-color: var(--md-sys-color-surface);
}

.main {
  grid-area: main;
  background-color: var(--md-sys-color-surface);
  display: flex;
  justify-content: center;
}

.footer {
  grid-area: footer;
  background-color: var(--md-sys-color-surface);
  //background-color: var(--md-sys-color-secondary-container);
}

.navigation-section {
  grid-area: nav;
}

.container {
  max-width: 920px;
  width: 100%;
  padding: 24px;
}
