.books {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__actions {
      display: flex;
      justify-content: flex-end;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('/src/assets/images/avatar-example.jpg');
  background-size: cover;
}
