<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="auth-form__title">Login</div>

    <div class="auth-form__body">
      <div class="auth-form__inputs">
        <mat-form-field class="auth-form__input">
          <mat-label>Email</mat-label>
          <input type="email" name="email" formControlName="email" matInput/>
          @if (email?.invalid && (email?.dirty || email?.touched)) {
            <mat-error>{{getErrorMessageForEmail()}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="auth-form__input">
          <mat-label>Password</mat-label>
          <input type="password" name="password" formControlName="password" matInput/>
          @if (password?.invalid && (password?.dirty || password?.touched)) {
            <mat-error>{{getErrorMessageForPassword()}}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="auth-form__actions">
          <button mat-flat-button color="primary" class="auth-form__button" [disabled]="loginForm.invalid">Login</button>
          <span class="auth-form__support">Not a member? <a routerLink="/register" class="auth-form__link">Register</a></span>
      </div>
    </div>
</form>
