<div class="book-action-section">
  <form class="book-form" [formGroup]="form" (ngSubmit)="generateBook()">
    <div class="book-form__title">{{ 'GENERATE_BOOKS' | translate}}</div>
    <div class="book-form__body">
      <div class="book-form__inputs">
        <cm-form-field label="Number_of_books" name="name" type="number" controlName="numberBooks" [control]="numberBooks" class="book-form__input"></cm-form-field>
      </div>
      <div class="book-form__actions">
        <button mat-flat-button color="primary" class="book-form__button" type="button" backButton>{{ 'BUTTONS.BACK' | translate}}</button>
        <button mat-flat-button color="primary" class="book-form__button" [disabled]="form.invalid">{{ 'BUTTONS.GENERATE' | translate}}</button>
      </div>
    </div>
  </form>
</div>
