.mat-mdc-card {
  --mdc-elevated-card-container-shape: 12px;
  --mdc-elevated-card-container-color: var(--md-sys-color-surface-container-highest);
  --mdc-elevated-card-container-elevation: none;

  padding: 16px;

  &:hover {
    box-shadow: var(--md-sys-card-box-shadow);
  }

}
