@use '../../../../scss/mixins/typography';
@use '../../../../scss/mixins/media-breakpoints';

.header-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__title {
    @include typography.display-small;

    @include media-breakpoints.tablet {
      @include typography.display-medium;
    }

    @include media-breakpoints.desktop {
      @include typography.display-large;
    }

  }

}
