<div class="books">
  <div class="books__actions">
    <button mat-flat-button routerLink="/books/add">{{ 'BUTTONS.ADD_BOOK' | translate}}</button>
    <button mat-flat-button routerLink="/books/generate">{{ 'BUTTONS.GENERATE_BOOK' | translate}}</button>
    @if(books.length > 0) {
      <button mat-flat-button (click)="deleteBooks()">{{ 'BUTTONS.DELETE_ALL_BOOKS' | translate}}</button>
    }
  </div>

  @if(books.length > 0) {
    <div class="books__list">
      @for(book of books; track book.id) {
        <cm-book [book]="book" (deleteBookEvent)="handleBookDelete()"></cm-book>
      }
    </div>
  } @else {
    {{ 'BOOKS_NOT_FOUND' | translate}}
  }
</div>
