@use '../../../../../scss/mixins/media-breakpoints';

.books {
  --_grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  --_actions-btn-direction: column;

  @include media-breakpoints.tablet {
    --_grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    --_actions-btn-direction: row;
  }

  display: flex;
  flex-direction: column;
  gap: 24px;

  &__actions {
    display: flex;
    flex-direction: var(--_actions-btn-direction);
    justify-content: flex-end;
    gap: 8px;
  }

  &__list {
    display: grid;
    grid-template-columns: var(--_grid-template-columns);
    gap: 8px;
  }
}
