<div class="book-action-section">
  <form class="book-form" [formGroup]="formData">
    <div class="book-form__title">{{ titleForm }}</div>
    <div class="book-form__body">
      <div class="book-form__inputs">
        <cm-form-field label="Name" name="name" type="text" controlName="name" [control]="name" class="book-form__input"></cm-form-field>
        <cm-form-field label="Author" name="author" type="text" controlName="author" [control]="author" class="book-form__input"></cm-form-field>
      </div>
      <div class="book-form__actions">
        <button mat-flat-button color="primary" class="book-form__button" backButton>Back</button>
        <button mat-flat-button color="primary" class="book-form__button" (click)="formEventEmit()" [disabled]="formData.invalid">{{ buttonName }}</button>
      </div>
    </div>
  </form>
</div>
