<div class="main-section">
  <div class="main-section__content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci cumque cupiditate dolor facilis,
      harum illo, labore nemo nihil nisi perferendis quam quas quod repudiandae rerum saepe totam velit voluptatibus?
    </p>
    <p>Aperiam asperiores dignissimos doloribus eius eveniet exercitationem iusto laboriosam maiores maxime nobis
      nulla odio, placeat quaerat quo quod quos sapiente, sed tempora! Beatae dolorem, eos illum incidunt iure
      reiciendis voluptates?
    </p>
    <p>Ad aliquid consectetur deleniti doloremque, dolorum facilis harum id illo illum impedit incidunt ipsum
      laudantium maiores minus nisi odit optio, quae quod recusandae, repellendus sint sit sunt unde vel veniam!
    </p>
  </div>
</div>

