<div class="main-section">
  <div class="main-section__content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci cumque cupiditate dolor facilis,
      harum illo, labore nemo nihil nisi perferendis quam quas quod repudiandae rerum saepe totam velit voluptatibus?
    </p>
    <p>Aperiam asperiores dignissimos doloribus eius eveniet exercitationem iusto laboriosam maiores maxime nobis
      nulla odio, placeat quaerat quo quod quos sapiente, sed tempora! Beatae dolorem, eos illum incidunt iure
      reiciendis voluptates?
    </p>
    <p>Ad aliquid consectetur deleniti doloremque, dolorum facilis harum id illo illum impedit incidunt ipsum
      laudantium maiores minus nisi odit optio, quae quod recusandae, repellendus sint sit sunt unde vel veniam!
    </p>
    <p>Beatae dolorem eaque, eos et ex, iste molestias nemo nostrum nulla optio possimus quia quos repellendus
      repudiandae tempore tenetur vero. Atque autem, error exercitationem numquam sequi vel velit vitae? Ipsum?
    </p>
    <p>Alias aliquid architecto asperiores aut beatae delectus dolore ea eius, eligendi error ex in incidunt itaque
      libero minima nobis numquam odio placeat quae quidem quis quos rerum soluta tempore ut!
    </p>
    <p>Aperiam, aspernatur atque debitis earum et itaque magni maxime modi obcaecati officia qui quia quis recusandae
      sed sequi veniam voluptatibus. Accusamus dolore enim error ex illo iusto molestias repellat saepe.
    </p>
    <p>At corporis deleniti deserunt dignissimos eos. Ab accusantium, adipisci assumenda consequatur corporis, debitis
      dignissimos est hic itaque laboriosam libero minus nisi perspiciatis quidem repellendus repudiandae sapiente
      temporibus velit voluptate voluptatibus.
    </p>
    <p>Aliquid architecto asperiores at consequuntur cumque delectus, et mollitia quae quia quod reiciendis
      repellendus reprehenderit rerum ullam voluptate? Cum deserunt error exercitationem molestias nobis quae quam
      reiciendis sit sunt tenetur!
    </p>
    <p>Eius exercitationem facere nemo quae veritatis voluptate! Adipisci cumque delectus dolore illo in natus
      necessitatibus obcaecati officia, perspiciatis placeat provident quidem, quis repellat sint ut veniam voluptatum.
      Ab, debitis, quibusdam.
    </p>
    <p>Amet autem consequatur laboriosam minus nesciunt quas qui rem sit tempore? Consequatur obcaecati, vitae!
      Aperiam eaque iure modi nihil nulla perspiciatis praesentium reprehenderit repudiandae veniam? Accusantium in nam
      praesentium voluptate?
    </p>
  </div>
</div>

