<form class="auth-form" [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="auth-form__title">Registration</div>

  <div class="auth-form__body">
    <div class="auth-form__inputs">
      <cm-form-field label="Name" name="name" type="text" controlName="name" [control]="name" class="auth-form__input"></cm-form-field>
      <cm-form-field label="Email" name="email" type="email" controlName="email" [control]="email" class="auth-form__input"></cm-form-field>
      <cm-form-field label="Password" name="password" type="password" controlName="password" [control]="password" class="auth-form__input"></cm-form-field>
      <cm-form-field label="Confirm password" name="confirm-password" type="password" controlName="confirmPassword" [control]="confirmPassword" class="auth-form__input"></cm-form-field>
    </div>

    <ng-container *ngIf="getFormErrorMessage() as errorMessage">
      <div class="auth-form__errors">
        <mat-error>{{ errorMessage }}</mat-error>
      </div>
    </ng-container>

    <div class="auth-form__actions">
      <button mat-flat-button color="primary" class="auth-form__button" [disabled]="registerForm.invalid">Register</button>
      <span class="auth-form__support">Already a member? <a routerLink="/login" class="auth-form__link">Login</a></span>
    </div>
  </div>
</form>
