<form class="auth-form" [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="auth-form__title">Registration</div>

  <div class="auth-form__body">
    <div class="auth-form__inputs">
      <mat-form-field class="auth-form__input">
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput formControlName="email" autocomplete="email"/>
        @if (email.invalid && (email.dirty || email.touched)) {
          <mat-error>{{getErrorMessageForEmail()}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="auth-form__input">
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput formControlName="password" autocomplete="new-password"/>
        @if (password.invalid && (password.dirty || password.touched)) {
          <mat-error>{{getErrorMessageForPassword()}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="auth-form__input">
        <mat-label>Confirm password</mat-label>
        <input type="password" name="confirm-password" matInput formControlName="confirmPassword" autocomplete="new-password"/>
        @if (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) {
          <mat-error>{{getErrorMessageForPassword()}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="auth-form__actions">
      <button mat-flat-button color="primary" class="auth-form__button" [disabled]="registerForm.invalid">Register</button>
      <span class="auth-form__support">Already a member? <a routerLink="/login" class="auth-form__link">Login</a></span>
    </div>
  </div>
</form>
