<mat-nav-list class="navigation">
  <div class="tablet-hidden navigation__title">Menu</div>

  @for (navItem of navigationItems; track navItem.id) {
    <mat-list-item class="navigation__item" (click)="onItemClick($event)" routerLink="{{ navItem.link }}" routerLinkActive="mdc-list-item--activated">

      <a class="navigation__link">
        <div matListItemIcon matRipple class="navigation__icon material-symbols-outlined">{{ navItem.icon }}</div>
        <div class="navigation__label">{{ navItem.label }}</div>
      </a>

    </mat-list-item>
  }

  <mat-divider class="tablet-hidden navigation__divider"></mat-divider>

  <mat-list-item class="navigation__item" (click)="logout()">
    <a class="navigation__link">
      <div matListItemIcon matRipple class="navigation__icon material-symbols-outlined">logout</div>
      <div class="navigation__label" (click)="onItemClick($event)">Logout</div>
    </a>
  </mat-list-item>
</mat-nav-list>
