<mat-nav-list class="navigation">
  <div class="tablet-hidden navigation__title">{{ 'MENU' | translate}}</div>

  @for (navItem of navigationItems; track navItem.id) {
    <a mat-list-item
       class="navigation__item"
       routerLink="{{ navItem.link }}"
       routerLinkActive="mdc-list-item--activated"
       [routerLinkActiveOptions]="{exact: true}"
    >

      <div class="navigation__content">
        <div matListItemIcon matRipple class="navigation__icon material-symbols-outlined">{{ navItem.icon }}</div>
        <div class="navigation__label">{{ navItem.label | translate}}</div>
      </div>

    </a>
  }

  <mat-divider class="tablet-hidden navigation__divider"></mat-divider>

  <a mat-list-item class="navigation__item" (click)="logout()">
    <div class="navigation__content">
      <div matListItemIcon matRipple class="navigation__icon material-symbols-outlined">logout</div>
      <div class="navigation__label">{{ 'LOGOUT' | translate }}</div>
    </div>
  </a>
</mat-nav-list>
